extend layoutes/header2.pug

block header
    .aboutbox1 
        .aboutbox2
            h1 درباره آتما
            p شرکت بازرگانی آریا تجارت مشیز ارس، از سال 1397 فعالیت خود را در امور پخش مویرگی مواد غذایی ، خدمات بازرگانی ،صادرات،واردات،خرید و فروش اعطاء کلیه کالاهای مجاز بازرگانی، اخذ و اعطاء نمایندگی به اشخاص حقیقی و حقوقی، اخذ وام و اعتبار از بانک ها و موسسات مالی و اعتباری . آغاز نموده است.
    .aboutbox3
        .aboutbox4
            h1 آریا تجارت مشیز ارس
            p گروه بازرگانی آتما با بهره‌مندی از جدیدترین سیستم های فروش و توزیع مویرگی در تهران و در آینده ای نزدیک در شهرهای بزرگ ایران فعالیت خود را گسترش دهد باراکا و سالونیک باعث بالا رفتن اعتبار ما در میان مشتری هایمان شده و از بزرگترین افتخارات آتما میباشد
    .aboutbox5#lines
        .aboutbox6
            .aboutbox7
                p پخش مویرگی
                div#box1
                    p.boxtext %85
                p بهره‌ مندی از نرم‌افزار بازرگانی و فروش تخصصی
                div#box2
                    p.boxtext %100
                p بازرگانی صادرات و واردات
                div#box3
                    p.boxtext %80
                p برند سازی
                div#box4
                    p.boxtext %90

            .aboutbox8
                ul 
                    li 
                        h1 چشم انداز ما
                        p بازرگانی صادرات و واردات فروش و توزیع مویرگی بکارگیری از نرم‌افزارهای تخصصی سفارشگیری و فروش
                        p دستیابی به جایگاه یکی از 10 شرکت برتر کشور در 5 سال آینده در امور بازرگانی و برندینگ
                        p مالکیت حداقل سه برند مواد غذایی و دو برند لوازم آرایشی و بهداشتی فعال و صاحب نام در 5 سال آینده
                    li 
                        h1 ماموریت ما
                        p .همکاری با شرکای تجاری مطرح مانند چای دبش ، شرکت شیمیایی شمین (وایتکس) باراکا و سالونیک باعث بالا رفتن اعتبار ما در میان مشتری هایمان شده و از بزرگترین افتخارات آتما میباشد
    .clearfix
    .aboutbox9 
        .aboutbox10
            h1 هیئت مدیره مجموعه آریا تجارت مشیز ارس
            p شرکت آفتاب ریحانه نشان به نمایندگی محمد سروش اسکندری زاده محمود افضلی آزاده بهرامی
    footer 
        .footer 
            ul.listFooter 
                li.itemsFooter 
                    h3 ارتباط با دفتر مرکزی
                    p تهران سعادت آباد بلوار دریا مطهری شمالی کوچه عیسی پورپلاک ۶ واحد ۲
                li.itemsFooter 
                    h3 تلفن های تماس
                    p تلفن: ۰۲۱ ۸۸۵۶۷۱۶۳
                    p فکس: ۸۶۱۲۹۷۴۳
                li.itemsFooter 
                    h3 ساعات کاری
                    p شنبه - چهارشنبه: ۸:۳۰ صبح تا ۵ عصر
                    p پنجشنبه: ۸:۰۰ صبح تا ۱۲:۳۰ عصر
                li.itemsFooter نماد
                .licence
                    p تمامی حقوق این وبسایت متعلق به آریاتجارت مشیز ارس میباشد
    script(src="js/jquery-3.5.1.min.js")
    script(src="js/about.js") 