extend layoutes/header2.pug

block header
        .containerBusinessUnit
            p.numError 304
            p.msgError Not modified
        footer 
                .footer 
                        ul.listFooter 
                                li.itemsFooter 
                                        h3 ارتباط با دفتر مرکزی
                                        p تهران سعادت آباد بلوار دریا مطهری شمالی کوچه عیسی پورپلاک ۶ واحد ۲
                                li.itemsFooter 
                                        h3 تلفن های تماس
                                        p تلفن: ۰۲۱ ۸۸۵۶۷۱۶۳
                                        p فکس: ۸۶۱۲۹۷۴۳
                                li.itemsFooter 
                                        h3 ساعات کاری
                                        p شنبه - چهارشنبه: ۸:۳۰ صبح تا ۵ عصر
                                        p پنجشنبه: ۸:۰۰ صبح تا ۱۲:۳۰ عصر
                                li.itemsFooter نماد
                                .licence
                                        p تمامی حقوق این وبسایت متعلق به آریاتجارت مشیز ارس میباشد