extend layoutes/header2.pug
block style
    //- script(src="js/map.js") 
    script.
        function initMap() {
        const uluru = { lat: -25.344, lng: 131.036 };
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 4,
            center: uluru,
        });
        const marker = new google.maps.Marker({
            position: uluru,
            map: map,
        });
        }
	
block header
    .containerContact 
        .parallax
            main 
                h1 تماس با ما
                .form
                    form(action="/contact", method="post")
                        label(for="email") آدرس ایمیل: 
                            <input (type="email" name="email" placeholder="Email")/>
                        label(for="subject") موضوع :
                            <input (type="text" name="subject" placeholder="Subject")/>
                        label(for="message") پیام :
                            textarea(type="text",name="message" cols="30", rows="10")
                        button ارسال
        #map
        footer 
            .footer 
                ul.listFooter 
                    li.itemsFooter 
                        h3 ارتباط با دفتر مرکزی
                        p تهران سعادت آباد بلوار دریا مطهری شمالی کوچه عیسی پورپلاک ۶ واحد ۲
                    li.itemsFooter 
                        h3 تلفن های تماس
                        p تلفن: ۰۲۱ ۸۸۵۶۷۱۶۳
                        p فکس: ۸۶۱۲۹۷۴۳
                    li.itemsFooter 
                        h3 ساعات کاری
                        p شنبه - چهارشنبه: ۸:۳۰ صبح تا ۵ عصر
                        p پنجشنبه: ۸:۰۰ صبح تا ۱۲:۳۰ عصر
                    li.itemsFooter نماد
                    .licence
                        p تمامی حقوق این وبسایت متعلق به آریاتجارت مشیز ارس میباشد
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACAgsHtl1fVoQUp0yvPibuQidSie9wG8o&callback=initMap&libraries=&v=weekly" async)
    
    
    

    