doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/errors.css")
        title Erorr 404
    body 
        .containererrors 
            p.numError 404
            p.msgError Not Found
            a.homePage(href="http://192.168.0.200:3000/") Home