extend layoutes/mainlayoute.pug

block header
    .containermain 
        .parallax 
            h1#textOnmainPic آریاتجارت مشیز ارس
            h3#smalltext فعال از سال ۱۳۹۷ در زمینه بازرگانی و فروش

    script(src="js/jquery-3.5.1.min.js") 
    script(src="js/home.js") 