extend layoutes/mainlayoute.pug

block body
block content
    .containermain 
        .parallax 
            h1#textOnmainPic آریاتجارت مشیز ارس
            h3#smalltext فعال از سال ۱۳۹۷ در زمینه بازرگانی و فروش
        .service 
            .serviceBox1 
                ul 
                    li  
                        img(src="", alt="")
                        strong
                        p
                    li
                        img(src="", alt="")
                        strong
                        p
                    li
                        img(src="img/138.jpg", alt="Business")
                        strong بازرگانی
                        p گسترش فعالیت ها در ضمینه صادرات و واردات نهادهای دامی

        footer 
            .footer 
                ul.listFooter 
                    li.itemsFooter 
                        h3 ارتباط با دفتر مرکزی
                        p تهران سعادت آباد بلوار دریا مطهری شمالی کوچه عیسی پورپلاک ۶ واحد ۲
                    li.itemsFooter 
                        h3 تلفن های تماس
                        p تلفن: ۰۲۱ ۸۸۵۶۷۱۶۳
                        p فکس: ۸۶۱۲۹۷۴۳
                    li.itemsFooter 
                        h3 ساعات کاری
                        p شنبه - چهارشنبه: ۸:۳۰ صبح تا ۵ عصر
                        p پنجشنبه: ۸:۰۰ صبح تا ۱۲:۳۰ عصر
                    li.itemsFooter نماد
                    .licence
                        p تمامی حقوق این وبسایت متعلق به آریاتجارت مشیز ارس میباشد

    script(src="js/jquery-3.5.1.min.js") 
    script(src="js/home.js")
    