extend layoutes/mainlayoute.pug

block body
block content
    .containermain 
        .headerForMobile 
            h1#textOnmainPic آریاتجارت مشیز ارس
            h3#smalltext فعال از سال ۱۳۹۷ در زمینه بازرگانی و فروش
        .parallax 
            h1#textOnmainPic آریاتجارت مشیز ارس
            h3#smalltext فعال از سال ۱۳۹۷ در زمینه بازرگانی و فروش
        .service 
            .serviceBox1 
                ul 
                    li  
                        img(src="img/butsuryu-1.jpg", alt="")
                        strong پخش
                        p طراحی استراتژی فروش داخلی و خارجی سیستم ارتباط با مشتریان
                    li
                        img(src="img/product.jpg", alt="")
                        strong تولید
                        p ایجاد شرایط ایده آل با استانداردهای بازرگانی
                    li
                        img(src="img/138.jpg", alt="Business")
                        strong بازرگانی
                        p گسترش فعالیت ها در ضمینه صادرات و واردات نهادهای دامی
        .allServices 
            .serviceBox2 
                h1 گستره خدمات آریا تجارت مشیز ارس
                ul
                    li  
                        img(src="img/4.jpg", alt="")
                        strong تولیدات داخلی
                        p تولید ، شاخص و معیار اصلی پیشرفت در یک کشور است و برای ما گیر ی سرعت، شتاب ¬ نیز بعنوان شاخص پیشرفت، ملاکی برای اندازه و میزان پیشرفت محسوب می گردد.
                    li
                        img(src="img/5.jpg", alt="")
                        strong پخش مواد غذایی
                        p واحد فروش و پخش شرکت آتما با همکاری برندهای مطرح در سطح داخلی، فعالیت خود را در مناطق 22 گانه تهران افزایش داده است.
                    li
                        img(src="img/6.jpg", alt="Business")
                        strong واردات و صادرات
                        p در تحول اقتصادی کشورها به سوی رشد، بین الگوی تولید و واردات و صادرات پیوندی ناگسستنی وجود دارد و می توان آنها را به عنوان عاملی مهم و تأثیرگذار در کشورهای در حال توسعه، وارد مدل رشد کرد. 
                .clearfix
        footer 
            .footer 
                ul.listFooter 
                    li.itemsFooter 
                        h3 ارتباط با دفتر مرکزی
                        p تهران سعادت آباد بلوار دریا مطهری شمالی کوچه عیسی پورپلاک ۶ واحد ۲
                    li.itemsFooter 
                        h3 تلفن های تماس
                        p تلفن: ۰۲۱ ۸۸۵۶۷۱۶۳
                        p فکس: ۸۶۱۲۹۷۴۳
                    li.itemsFooter 
                        h3 ساعات کاری
                        p شنبه - چهارشنبه: ۸:۳۰ صبح تا ۵ عصر
                        p پنجشنبه: ۸:۰۰ صبح تا ۱۲:۳۰ عصر
                    li.itemsFooter
                        h3 نماد
                    .licence
                        p تمامی حقوق این وبسایت متعلق به آریاتجارت مشیز ارس میباشد

    script(src="js/jquery-3.5.1.min.js") 
    script(src="js/home.js")
    