extend layoutes/header2.pug

block header
    .containermarket 
        main 
            h1 بازاریابی
            p بازاریابی مهمترین قدم در صادرات است، شناخت بازارهای خارجی و راههای نفوذ به آن، شناخت هسته های قدرت، شناخت رقبا در کشور هدف از مهمترین قسمتهاست که نیازمند داشتن اطلاعات از کیفیت کالا، قیمت و میزان مصرف در بازار خریدار است .
            ul 
                li 
                    p راههای کسب اطلاعات به منظور ایجاد در ارتباط با خریداران از طرق ذیل امکان پذیر می باشد 
                li 
                    p مذاکره مستقیم با خریداران
                li 
                    p استفاده از اطلاعات و آمارهای رسمی
                li 
                    p شرکت در نمایشگاه های بین المللی
                li 
                    p مراجعه به سوابق قبلی معاملات
                li 
                    p ماس با نمایندگیهای ایران و سفارتخانه ها
                li 
                    p  استعلام از موسسات بین المللی و مراکز ارتباط
            p لازم به ذکر است که با پیشرفت تکنولوژی امکان دسترسی به اطلاعات از طریق سایت های اینترنتی سریعترین راه ممکن می باشد .
            p از مسائل قابل اهمیت در صادرات تبلیغات است که باید متناسب با اخلاقیات ، فرهنگ مصرف خریداران کالا و کشور هدف باشد: در غیر اینصورت ممکن است تبلیغات، بازتاب منفی در پی داشته باشد .
    footer 
        .footer 
            ul.listFooter 
                li.itemsFooter 
                    h3 ارتباط با دفتر مرکزی
                    p تهران سعادت آباد بلوار دریا مطهری شمالی کوچه عیسی پورپلاک ۶ واحد ۲
                li.itemsFooter 
                    h3 تلفن های تماس
                    p تلفن: ۰۲۱ ۸۸۵۶۷۱۶۳
                    p فکس: ۸۶۱۲۹۷۴۳
                li.itemsFooter 
                    h3 ساعات کاری
                    p شنبه - چهارشنبه: ۸:۳۰ صبح تا ۵ عصر
                    p پنجشنبه: ۸:۰۰ صبح تا ۱۲:۳۰ عصر
                li.itemsFooter نماد
                .licence
                    p تمامی حقوق این وبسایت متعلق به آریاتجارت مشیز ارس میباشد