extend layoutes/header2.pug

block header
    .containeroverview 
        .main 
            h1 صادرات
            p بازاریابی و شناخت بازار فروش
            p کسب مجوز صدور
            p تعیین قیمت صادراتی توسط کمیسیون نرخ گذاری
            p صدور پروفرما
            p تهیه ، تدارک و بسته بندی
            p دریافت گواهی بازرسی کالا
            p صدور فاکتور و اخذ گواهی مبدا
            p عقد قرارداد حمل و بیمه
            p اظهار کالا به گمرک
            p ارسال کالا
            p دریافت واریز نامه یا گواهی صدور
            h1 واردات
            p برای خروج کالای وارده ازگمرک تحت هریک از عناوین پنجگانه مطروحه درماده ۱۹ قانون امورگمرکی مصوب ۱۳۵۰ ( به استثنای ترانزیت داخلی اداری) صاحب کالا یا نماینده قانونی وی باید اظهارنامه مخصوص آن عنوان راکه اداره گمرک در اختیار اظهارکنندگان می گذارد، در دو نسخه تنظیم وبا قید تاریخ و امضاء به ضمیمه اسناد خرید و صورت عدل بندی ( صورت تنوع کالا) و گواهی مبداء و بارنامه حمل به گمرک تسلیم نماید. برگ حواله یا قبض انبار که بایستی قبلاً از طرف موسسه حمل و نقل ( کشتیرانی، هواپیمایی، راه آهن یا هربنگاه متصدی حمل که کالا رابه گمرک تحویل داده است) یا آورنده کالا به نام اظهارکننده پشت نویسی شده باشد، نیز باید به اظهارنامه ضمیمه شود به استناد مفاد قانون امور گمرکی و ماده واحده قانون یکسان سازی تشریفات ورود و خروج کالا وخدمات از کشور، انجام تشریفات گیرکی اعم از قطعی و غیرقطعی جز در مواردی که در آیین نامه اجرایی امور گمرکی (موارد مشمول ماده ۹۵ آئین نامه) تعیین می شود، منوط به تسلیم اظهارنامه به گمرک می باشد و به نوعی مبنای انجام تشریفات گمرکی، تنظیم و تسلیم اظهارنامه گمرکی است اظهارنامه واردات قطعی کالا اوراق چاپی است که توسط گمرک تهیه و برای تنظیم و تکمیل به صاحب کالا یا نماینده قانونی وی ، حامل یا موسسه حمل تسلیم می شود تا اطلاعات مربوط بوسیله حمل، مبداء ، بارگیری، تعداد محموله ، مشخصات حامل، تعداد بارنامه، شماره مانیفست، نام کشور مبداء و مقصد کالا، تعداد و نوع بسته ها، علامت و وزن کالا، نوع کالای محتوای بسته ها ودرصورت امکان وزن خالص و ارزش کالا ، نام گیرنده کالا، نام و نام خانوادگی و محل اقامت تنظیم کننده اظهارنامه و امضای او، نام وپرچم و مبداء حرکت کشتی و نام صاحب یا فرمانده آن رادر آن درج و به گمرک اظهارنماید. سیستم آسیکوا بمنظور استاندارد نمودن اظهارنامه های گمرکی و سرعت بخشیدن به ترخیص کالا بوجود آمده است. فرم اظهارنامه به چهار دسته تقسیم شده و هر ناحیه از تعدادی خانه تشکیل شده است. ناحیه (الف) دربرگیرنده اطلاعات گمرکی کالا، ناحیه (ب) شامل حسابداری، ناحیه (ج) برای ترانزیت و ناحیه (د) برای رسیدگی گمرک می باشد. این اظهارنامه دارای ۵۴ خانه می باشد اسناد لازم جهت انضمام به اظهارنامه کالاهای وارداتی عبارت اند از:
            ul 
                li 
                    p قبض انبار
                li 
                    p فاکتور
                li 
                    p پیش فاکتور
                li 
                    p فهرست عدل بندی ( بسته بندی )
                li 
                    p ترخیصیه
                li 
                    p بارنامه
                li 
                    p مانیفست
                li 
                    p گواهی مبداء
                li 
                    p بیمه نامه
                li 
                    p مجوز ثبت سفارش
                li 
                    p کارت حق العمل (ترخیص کاری)
                li 
                    p کارت بازرگانی
                li 
                    p وکالتنامه
                li 
                    p گواهی بازرسی
                li 
                    p بیمه نامه
                li 
                    p مجوزها و گواهی های مورد نیاز( حسب مورد)
    footer 
        .footer 
            ul.listFooter 
                li.itemsFooter 
                    h3 ارتباط با دفتر مرکزی
                    p تهران سعادت آباد بلوار دریا مطهری شمالی کوچه عیسی پورپلاک ۶ واحد ۲
                li.itemsFooter 
                    h3 تلفن های تماس
                    p تلفن: ۰۲۱ ۸۸۵۶۷۱۶۳
                    p فکس: ۸۶۱۲۹۷۴۳
                li.itemsFooter 
                    h3 ساعات کاری
                    p شنبه - چهارشنبه: ۸:۳۰ صبح تا ۵ عصر
                    p پنجشنبه: ۸:۰۰ صبح تا ۱۲:۳۰ عصر
                li.itemsFooter نماد
                .licence
                    p تمامی حقوق این وبسایت متعلق به آریاتجارت مشیز ارس میباشد