extend layoutes/header2.pug

block header
    .containerStore
        main 
            h1 صدور پروفرما
            p در مواقعی که فروش کالا به طرف مقابل از طریق گشایش اعتبارات اسنادی انجام شود این مرحله ضروری است و هر پروفرما حاوی مشخصات ذیل است.
            ul
                li 
                    p نام فروشنده، نشانی، تلفن، فاکس و تلفکس
                li 
                    p شماره و تاریخ صدور پروفرما
                li 
                    p نام خریدار ونشانی
                li 
                    p نام و مشخصات فنی کالا
                li 
                    p مقدار ( QUANTITY)
                li 
                    p ارزش واحد کالا – ارزش کل کالا ( UNIT PRICE – TOTAL PRICE )
                li 
                    p شرایط پرداخت ( PAYMENT CONDITON )
                li 
                    p مبداء حمل ( PLACE OF LOADING )
                li 
                    p شرایط حمل و تحویل
                li 
                    p مدت اعتبار قیمت پروفرما ( VALIDITY)
                li 
                    p سایر شرایط کشور تولید کننده ( ORGIN COMMODITY)
    footer 
        .footer 
            ul.listFooter 
                li.itemsFooter 
                    h3 ارتباط با دفتر مرکزی
                    p تهران سعادت آباد بلوار دریا مطهری شمالی کوچه عیسی پورپلاک ۶ واحد ۲
                li.itemsFooter 
                    h3 تلفن های تماس
                    p تلفن: ۰۲۱ ۸۸۵۶۷۱۶۳
                    p فکس: ۸۶۱۲۹۷۴۳
                li.itemsFooter 
                    h3 ساعات کاری
                    p شنبه - چهارشنبه: ۸:۳۰ صبح تا ۵ عصر
                    p پنجشنبه: ۸:۰۰ صبح تا ۱۲:۳۰ عصر
                li.itemsFooter نماد
                .licence
                    p تمامی حقوق این وبسایت متعلق به آریاتجارت مشیز ارس میباشد