.containerContact{
    height: 200px ;
    margin-top: 30px;
    border-radius: 0 80px 0 80px;
    margin-bottom: 30px;
    position: relative;
}
.containerContact .parallax {
    /* The image used */
    background-image: url("../img/contact.jpg");
  
    /* Set a specific height */
    height: 800px; 
    border-radius: 0 80px 0 80px;
    margin-bottom: 30px;
  
    /* Create the parallax scrolling effect */
    box-shadow: 0px 9px 21px -6px rgba(0,0,0,1);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
/* .containerContact main{
    width: 1300px;
    height: 800px;
    margin: auto;
    background-color: blue;
} */
.containerContact .parallax main{
    width: 1300px;
    height: 800px;
    margin: auto;
}
.containerContact main h1{
    color: #131643da;
    font-size: 45px;
    font-weight: bolder;
    text-align: right;
    padding: 100px 50px 0 0;
    font-family: aria-tejarat;
}
.containerContact main .form{
    
}
.containerContact main .form form{
    float: right;
    padding: 100px 50px 0 0;
    direction: rtl;
    position: relative;
    width: 600px;
    height: 300px;
}
.containerContact main .form form label{
    text-align: right;
    display: block;
    margin: 20px 0;
    font-family: aria-tejarat;
    font-size: 17px;
    font-weight: bolder;
    color: #131643da;

}
.containerContact main .form form label input{
    position: absolute;
    left: 20px;
    border-radius: 20px;
    border: none;
    direction: ltr;
    width: 390px;
    font-family: aria-tejarat;
    padding: 0 10px;
    opacity: .7;
}
.containerContact main .form form label textarea{
    position: absolute;
    left: 20px;
    padding: 5px;
    width: 390px;
    margin-top: 30px;
    border: none;
    border-radius: 20px;
    direction: ltr;
    padding: 10px;
    font-size: 17px;
    height: 150px;
    font-family: aria-tejarat;
    opacity: .7;
}
.containerContact main .form form button{
    transition: 1s;
    display: block;
    position: absolute;
    left: 220px;
    bottom: -50px;
    width: 150px;
    padding: 5px;
    border-radius: 20px;
    font-family: aria-tejarat;
    font-weight: bold;
    border: none;
    
}
.containerContact main .form form button:hover{
    background-color: #131643da;
    color: white;
    transition: 1s;
}

