body{
    background-color:#FFFFFF;
    font-family: aria-tejarat;
    box-sizing: border-box;
}
.clearfix{
    float: none;
    clear: both;
}
nav{
    height: 80px;
    background-color:#212529 ;
    border-radius: 0 0 80px 0px;
}
.navbar{
    width:1300px;
    height:60px;
    background-color: #212529;
    padding-top: 15px;
    margin: auto;
    border-bottom: #1316431e 1.5px solid;
    /* background-color: #131643; */
}
.dropdown {
    float: right;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 15px; 
    font-weight: bolder !important; 
    border: none;
    outline: none;
    color:#FFFFFF;
    padding: 14px 16px;
    background-color: inherit;
    font: aria-tejarat;
    margin: 0 10px 5px 10px;
    background-color: #ffffff1f;
    border-radius: 10px;
}
.dropdown:hover .dropbtn {
    /* margin: 0 5px; */
    background-color: #ffffff75;
    color: #212529;
    border-radius: 10px;
    transition: 1s;
}
.dropdown-content {
    margin-left: -9px;
    /* float: left; */
    display: none;
    border-radius: 4px;
    position: absolute;
    background-color: #f9f9f9;
    width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.navbar .menu{
    font-family: aria-tejarat;
    margin: 0 10px;
    font-weight: bolder;
    font-size: 16px; 
    border: none;
    outline: none;
    float: right;
    padding: 14px 16px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #ffffff1f;
    border-radius: 10px;
}
.navbar .menu:hover{
    transition: 1s;
    background-color: #ffffff75;
    color: #212529;
    border-radius: 10px;
}
.dropdown-content .row {}
.dropdown:hover .dropdown-content {
    transition: 1s;
    display: block;
    width: 135px;
    background-color: #fffffff3;
}
.row ul{
}
.row ul li{
    float: right;
    margin: 7px;
}
.row ul li:hover{
}
.row ul li .dropdownMenu {
    font-family: aria-tejarat;
    text-decoration: none;
    font-size: 17px;
    color: rgb(66, 66, 66);
    display: block;
    text-align: right;
    margin: 5px 0;
}
.row ul li .dropdownMenu:hover {
    color: black;
    font-weight: bold;
}
.logo img{
    border-radius: 4px;
    padding: 7px;
    margin: -70px 0 0 0;
    width: 100px;
    /* position: absolute; */
    background-color: #FFFFFF;
}