.clearfix{
    float: none;
    clear: both;
}
.containermain{
    border-top: #212529 3px solid;
    position: absolute;
    top: 0;
    width: 100%;
    height: 500px;
    z-index: -1;
}
.containermain .headerForMobile{
    display: none;
}
.containermain .parallax {
    /* The image used */
    background-image: url("../img/mainpage.jpg");
  
    /* Set a specific height */
    min-height: 851px; 
  
    /* Create the parallax scrolling effect */
    box-shadow: 0px 9px 21px -6px rgba(0,0,0,1);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .containermain .parallax #textOnmainPic{
      display: block;
      text-align: center;
      padding-top: 400px;
      font-size: 50px;
      font-weight: bolder;
      font-family: aria-tejarat;
  }
  .containermain .parallax #smalltext{
      display: block;
      text-align: center;
      padding-top: 50px;
      font-size: 15px;
      font-family: aria-tejarat;
  }
  .containermain .service{
      height: 400px;
  }
  .containermain .service .serviceBox1 {
      padding-top: 50px;
      width: 1300px;
      height: 300px;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
  }
  .containermain .service .serviceBox1 ul{
  }
  .containermain .service .serviceBox1 ul li{
      width: 430px;
      height: 300px;
      /* border: black solid 1px; */
      display: inline-block;
      box-sizing: border-box;
  }
  .containermain .service .serviceBox1 ul li img{
      margin: 10px;
      width: 200px;
      height: 200px;
      border-radius: 10% 0 50% 0;
  }
  .containermain .service .serviceBox1 ul li strong{
      float: right;
      margin-right: 70px;
      margin-top: 80px;
      font-size: 30px;
      font-weight: bold;
      font-family: aria-tejarat;
      color: #202020;
  }
  .containermain .service .serviceBox1 ul li p{
    float: right;
    display: inline-block;
    text-align: right;
    margin-right: 20px;
    margin-top: 10px;
    font-family: aria-tejarat;
    font-size: 15px;
    line-height: 2;
    color: #696969;
  }
.allServices{
        /* The image used */
    background-image: url("../img/1.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    box-shadow: -1px -5px 15px -2px rgba(0,0,0,1);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.containermain .allServices .serviceBox2{
    width: 1300px;
    margin: auto;
}
.containermain .allServices .serviceBox2 h1{
    font-family: aria-tejarat;
    color: #FEFEFE;
    float: right;
    background-color: #131643da;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    font-size: 20px;
    margin: 30px;
}
.containermain .allServices .serviceBox2 ul{
    float: right;
}
.containermain .allServices .serviceBox2 ul li{
    width: 430px;
    height: 300px;
    display: inline-block;
    box-sizing: border-box;
}
.containermain .allServices .serviceBox2 ul li img{
    width: 400px;
    height: 200px;
    border-radius: 10px;
}
.containermain .allServices .serviceBox2 ul li strong{
    float: right;
    margin: 30px 40px 10px 40px;
    font-size: 20px;
    padding: 5px;
    font-weight: bolder;
    color: white;
    background-color: #212529;
    border-radius: 10px 10px 0 0;
    font-family: aria-tejarat;
}
.containermain .allServices .serviceBox2 ul li p{
   float: right;
   text-align: right;
   margin-right: 40px;
   line-height: 1.5;
   color: black;
   background-color: rgba(255, 255, 255, 0.575);
   border-radius: 20px 0 20px 0;
   padding: 5px;
   font-family: aria-tejarat;
}
@media only screen and (max-width: 1024px) {
    .containermain{
        border-top: #212529 3px solid;
        position: absolute;
        top: 0;
        width: 1024px;
        height: 500px;
        z-index: -1;
    }
    .containermain .headerForMobile{
        display: none;
    }
    .containermain .parallax {
        /* The image used */
        background-image: url("../img/mainpage.jpg");
      
        /* Set a specific height */
        min-height: 593px; 
        width: 1024px; 

      
        /* Create the parallax scrolling effect */
        box-shadow: 0px 9px 21px -6px rgba(0,0,0,1);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .containermain .parallax #textOnmainPic{
          display: block;
          text-align: center;
          padding-top: 250px;
          font-size: 50px;
          font-weight: bolder;
          font-family: aria-tejarat;
      }
      .containermain .parallax #smalltext{
          display: block;
          text-align: center;
          padding-top: 50px;
          font-size: 15px;
          font-family: aria-tejarat;
      }
      .containermain .service{
          height: 400px;
      }
      .containermain .service .serviceBox1 {
          padding-top: 50px;
          width: 1024px;
          height: 300px;
          margin: auto;
          margin-top: 20px;
          margin-bottom: 20px;
      }
      .containermain .service .serviceBox1 ul{
      }
      .containermain .service .serviceBox1 ul li{
          width: 340px;
          height: 300px;
          /* border: black solid 1px; */
          display: inline-block;
          box-sizing: border-box;
      }
      .containermain .service .serviceBox1 ul li img{
          margin: 10px;
          width: 200px;
          height: 200px;
          border-radius: 10% 0 50% 0;
      }
      .containermain .service .serviceBox1 ul li strong{
          float: right;
          margin-right: 20px;
          margin-top: 50px;
          font-size: 30px;
          font-weight: bold;
          font-family: aria-tejarat;
          color: #202020;
      }
      .containermain .service .serviceBox1 ul li p{
        float: right;
        display: inline-block;
        text-align: right;
        margin-right: 20px;
        margin-top: 10px;
        font-family: aria-tejarat;
        font-size: 15px;
        line-height: 2;
        color: #696969;
      }
    .allServices{
            /* The image used */
        background-image: url("../img/1.jpg");
      
        /* Set a specific height */
        min-height: 550px; 
      
        /* Create the parallax scrolling effect */
        box-shadow: -1px -5px 15px -2px rgba(0,0,0,1);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .containermain .allServices .serviceBox2{
        width: 1024px;
        margin: auto;
    }
    .containermain .allServices .serviceBox2 h1{
        font-family: aria-tejarat;
        color: #FEFEFE;
        float: right;
        background-color: #131643da;
        padding: 15px;
        border-radius: 10px 10px 0 0;
        font-size: 20px;
        margin: 30px 20px 30px 30px;
    }
    .containermain .allServices .serviceBox2 ul{
        float: right;
    }
    .containermain .allServices .serviceBox2 ul li{
        width: 340px;
        height: 300px;
        display: inline-block;
        box-sizing: border-box;
    }
    .containermain .allServices .serviceBox2 ul li img{
        width: 300px;
        height: 200px;
        border-radius: 10px;
    }
    .containermain .allServices .serviceBox2 ul li strong{
        float: right;
        margin: 30px 40px 10px 40px;
        font-size: 20px;
        padding: 5px;
        font-weight: bolder;
        color: white;
        background-color: #212529;
        border-radius: 10px 10px 0 0;
        font-family: aria-tejarat;
    }
    .containermain .allServices .serviceBox2 ul li p{
       float: right;
       text-align: right;
       margin-right: 40px;
       line-height: 1.5;
       color: black;
       background-color: rgba(255, 255, 255, 0.575);
       border-radius: 20px 0 20px 0;
       padding: 5px;
       font-family: aria-tejarat;
    }
  }
  @media only screen and (max-width: 768px) {
    .containermain{
        border-top: #212529 3px solid;
        position: absolute;
        top: 0;
        width: 768px;
        height: 500px;
        z-index: -1;
    }
    .containermain .headerForMobile{
        display: none;
    }
    .containermain .parallax {
        /* The image used */
        background-image: url("../img/mainpage.jpg");
      
        /* Set a specific height */
        min-height: 593px; 
        width: 768px; 

      
        /* Create the parallax scrolling effect */
        box-shadow: 0px 9px 21px -6px rgba(0,0,0,1);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .containermain .parallax #textOnmainPic{
          display: block;
          text-align: center;
          padding-top: 250px;
          font-size: 50px;
          font-weight: bolder;
          font-family: aria-tejarat;
      }
      .containermain .parallax #smalltext{
          display: block;
          text-align: center;
          padding-top: 50px;
          font-size: 15px;
          font-family: aria-tejarat;
      }
      .containermain .service{
          height: 450px;
      }
      .containermain .service .serviceBox1 {
          padding-top: 50px;
          width: 768px;
          height: 400px;
          margin: auto;
          margin-top: 20px;
          margin-bottom: 20px;
      }
      .containermain .service .serviceBox1 ul{
      }
      .containermain .service .serviceBox1 ul li{
          width: 256px;
          height: 400px;
          /* border: black solid 1px; */
          display: inline-block;
          box-sizing: border-box;
      }
      .containermain .service .serviceBox1 ul li img{
          margin: 10px;
          width: 200px;
          height: 200px;
          border-radius: 10% 0 50% 0;
      }
      .containermain .service .serviceBox1 ul li strong{
          float: right;
          margin-right: 20px;
          margin-top: 50px;
          font-size: 30px;
          font-weight: bold;
          font-family: aria-tejarat;
          color: #202020;
      }
      .containermain .service .serviceBox1 ul li p{
        float: right;
        display: inline-block;
        text-align: right;
        margin-right: 20px;
        margin-top: 10px;
        font-family: aria-tejarat;
        font-size: 15px;
        line-height: 2;
        color: #696969;
      }
    .allServices{
            /* The image used */
        background-image: url("../img/1.jpg");
      
        /* Set a specific height */
        min-height: 600px; 
      
        /* Create the parallax scrolling effect */
        box-shadow: -1px -5px 15px -2px rgba(0,0,0,1);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .containermain .allServices .serviceBox2{
        width: 768px;
        margin: auto;
    }
    .containermain .allServices .serviceBox2 h1{
        font-family: aria-tejarat;
        color: #FEFEFE;
        float: right;
        background-color: #131643da;
        padding: 15px;
        border-radius: 10px 10px 0 0;
        font-size: 20px;
        margin: 30px 20px 30px 30px;
    }
    .containermain .allServices .serviceBox2 ul{
        float: right;
    }
    .containermain .allServices .serviceBox2 ul li{
        width: 251px;
        height: 300px;
        display: inline-block;
        box-sizing: border-box;
    }
    .containermain .allServices .serviceBox2 ul li img{
        width: 212px;
        height: 200px;
        border-radius: 10px;
    }
    .containermain .allServices .serviceBox2 ul li strong{
        float: right;
        margin: 30px 40px 10px 40px;
        font-size: 20px;
        padding: 5px;
        font-weight: bolder;
        color: white;
        background-color: #212529;
        border-radius: 10px 10px 0 0;
        font-family: aria-tejarat;
    }
    .containermain .allServices .serviceBox2 ul li p{
       float: right;
       text-align: right;
       margin-right: 40px;
       line-height: 1.5;
       color: black;
       background-color: rgba(255, 255, 255, 0.575);
       border-radius: 20px 0 20px 0;
       padding: 5px;
       font-family: aria-tejarat;
    }
  }
  @media only screen and (max-width: 425px) {
    .containermain{
        border-top: #212529 3px solid;
        position: absolute;
        top: 0;
        width: 425px;
        height: 500px;
        z-index: -1;
    }
    .containermain .parallax {
        display: none;
      }
      .containermain .parallax #textOnmainPic{
          display: none;
          text-align: center;
          padding-top: 400px;
          font-size: 50px;
          font-weight: bolder;
          font-family: aria-tejarat;
      }
      .containermain .parallax #smalltext{
          display: none;
          text-align: center;
          padding-top: 50px;
          font-size: 15px;
          font-family: aria-tejarat;
      }
      .containermain .service{
          height: 950px;
      }
      .containermain .service .serviceBox1 {
          padding-top: 50px;
          width: 425px;
          height: 300px;
          margin: auto;
          margin-top: 20px;
          margin-bottom: 20px;
      }
      .containermain .service .serviceBox1 ul{
      }
      .containermain .service .serviceBox1 ul li{
          width: 430px;
          height: 300px;
          /* border: black solid 1px; */
          display: inline-block;
          box-sizing: border-box;
      }
      .containermain .service .serviceBox1 ul li img{
          margin: 10px;
          width: 200px;
          height: 200px;
          border-radius: 10% 0 50% 0;
      }
      .containermain .service .serviceBox1 ul li strong{
          float: right;
          margin-right: 70px;
          margin-top: 80px;
          font-size: 30px;
          font-weight: bold;
          font-family: aria-tejarat;
          color: #202020;
      }
      .containermain .service .serviceBox1 ul li p{
        float: right;
        display: inline-block;
        text-align: right;
        margin-right: 20px;
        margin-top: 10px;
        font-family: aria-tejarat;
        font-size: 15px;
        line-height: 2;
        color: #696969;
      }
    .allServices{
            /* The image used */
        background-image: url("../img/1.jpg");
      
        /* Set a specific height */
        min-height: 500px; 
      
        /* Create the parallax scrolling effect */
        box-shadow: -1px -5px 15px -2px rgba(0,0,0,1);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .containermain .allServices .serviceBox2{
        width: 425px;
        margin: auto;
    }
    .containermain .allServices .serviceBox2 h1{
        font-family: aria-tejarat;
        color: #FEFEFE;
        float: right;
        background-color: #131643da;
        padding: 15px;
        border-radius: 10px 10px 0 0;
        font-size: 20px;
        margin: 30px 20px 30px 30px;
    }
    .containermain .allServices .serviceBox2 ul{
        float: right;
        margin-left: 30px;
    }
    .containermain .allServices .serviceBox2 ul li{
        width: 425px;
        height: 400px;
        display: inline-block;
        box-sizing: border-box;
    }
    .containermain .allServices .serviceBox2 ul li img{
        width: 300px;
        height: 200px;
        border-radius: 10px;
        margin-left: 20px;
    }
    .containermain .allServices .serviceBox2 ul li strong{
        float: right;
        margin: 30px 20px 10px 40px;
        font-size: 20px;
        padding: 5px;
        font-weight: bolder;
        color: white;
        background-color: #212529;
        border-radius: 10px 10px 0 0;
        font-family: aria-tejarat;
    }
    .containermain .allServices .serviceBox2 ul li p{
       float: right;
       text-align: right;
       margin-right: 0px;
       line-height: 1.5;
       color: black;
       background-color: rgba(255, 255, 255, 0.575);
       border-radius: 20px 0 20px 0;
       padding: 5px;
       font-family: aria-tejarat;
    }
  }



