body{
    background-color:#FFFFFF;
    font-family: aria-tejarat;
    box-sizing: border-box;
}
.clearfix{
    float: none;
    clear: both;
}
nav{
    height: 45px;
}
.navbar{
    width:1300px;
    height:60px;
    padding-top: 15px;
    margin: auto;
    border-bottom: #1316431e 1.5px solid;
    /* background-color: #131643; */
}
.dropdown {
    float: right;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 15px; 
    font-weight: bolder !important; 
    border: none;
    outline: none;
    color:#131643;
    padding: 14px 16px;
    background-color: inherit;
    font: aria-tejarat;
    margin: 0 10px 5px 10px;
    background-color: #ffffff1f;
    border-radius: 10px;
}
.dropdown:hover .dropbtn {
    /* margin: 0 5px; */
    background-color: #ffffff75;
    color: #131643;
    border-radius: 10px;
    transition: 1s;
}
.dropdown-content {
    margin-left: -9px;
    /* float: left; */
    display: none;
    border-radius: 4px;
    position: absolute;
    background-color: #f9f9f9;
    width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.navbar .menu{
    font-family: aria-tejarat;
    margin: 0 10px;
    font-weight: bolder;
    font-size: 16px; 
    border: none;
    outline: none;
    float: right;
    padding: 14px 16px;
    text-decoration: none;
    color: #131643;
    background-color: #ffffff1f;
    border-radius: 10px;
}
.navbar .menu:hover{
    transition: 1s;
    background-color: #ffffff75;
    border-radius: 10px;
}
.dropdown-content .row {}
.dropdown:hover .dropdown-content {
    transition: 1s;
    display: block;
    width: 140px;
    background-color: #ffffff75;
}
.row ul{
}
.row ul li{
    float: right;
    margin: 8px;
}
.row ul li:hover{
}
.row ul li .dropdownMenu {
    font-family: aria-tejarat;
    text-decoration: none;
    font-size: 17px;
    color: rgb(66, 66, 66);
    display: block;
    text-align: right;
    margin: 5px 0;
}
.row ul li .dropdownMenu:hover {
    color: black;
    font-weight: bold;
}
.logo img{
    border-radius: 4px;
    padding: 7px;
    margin: -70px 0 0 0;
    width: 100px;
    /* position: absolute; */
    background-color: #FFFFFF;
}
@media only screen and (max-width: 1024px) {
    nav{
        height: 45px;
    }
    .navbar{
        width:1024px;
        height:40px;
        padding-top: 15px;
        margin: auto;
        border-bottom: #1316431e 1.5px solid;
        /* background-color: #131643; */
    }
    .dropdown {
        float: right;
        overflow: hidden;
    }
    .dropdown .dropbtn {
        font-size: 15px; 
        font-weight: bolder !important; 
        border: none;
        outline: none;
        color:#131643;
        padding: 14px 16px;
        background-color: inherit;
        font: aria-tejarat;
        margin: 0 10px 5px 10px;
        background-color: #ffffff1f;
        border-radius: 10px;
    }
    .dropdown:hover .dropbtn {
        /* margin: 0 5px; */
        background-color: #ffffff75;
        color: #131643;
        border-radius: 10px;
        transition: 1s;
    }
    .dropdown-content {
        margin-left: -9px;
        /* float: left; */
        display: none;
        border-radius: 4px;
        position: absolute;
        background-color: #f9f9f9;
        width: 150px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
    .navbar .menu{
        font-family: aria-tejarat;
        margin: 0 10px;
        font-weight: bolder;
        font-size: 16px; 
        border: none;
        outline: none;
        float: right;
        padding: 14px 16px;
        text-decoration: none;
        color: #131643;
        background-color: #ffffff1f;
        border-radius: 10px;
    }
    .navbar .menu:hover{
        transition: 1s;
        background-color: #ffffff75;
        border-radius: 10px;
    }
    .dropdown-content .row {}
    .dropdown:hover .dropdown-content {
        transition: 1s;
        display: block;
        width: 140px;
        background-color: #ffffff75;
    }
    .row ul{
    }
    .row ul li{
        float: right;
        margin: 8px;
    }
    .row ul li:hover{
    }
    .row ul li .dropdownMenu {
        font-family: aria-tejarat;
        text-decoration: none;
        font-size: 17px;
        color: rgb(66, 66, 66);
        display: block;
        text-align: right;
        margin: 5px 0;
    }
    .row ul li .dropdownMenu:hover {
        color: black;
        font-weight: bold;
    }
    .logo img{
        border-radius: 4px;
        padding: 7px;
        margin: -88px 0 0 20px;
        width: 80px;
        /* position: absolute; */
        background-color: #FFFFFF;
    }
  }
  @media only screen and (max-width: 768px) {
    nav{
        height: 45px;
    }
    .navbar{
        width:768px;
        height:40px;
        padding-top: 15px;
        margin: auto;
        border-bottom: #1316431e 1.5px solid;
        /* background-color: #131643; */
    }
    .dropdown {
        float: right;
        overflow: hidden;
    }
    .dropdown .dropbtn {
        font-size: 15px; 
        font-weight: bolder !important; 
        border: none;
        outline: none;
        color:#131643;
        padding: 14px 16px;
        background-color: inherit;
        font: aria-tejarat;
        margin: 0 10px 5px 10px;
        background-color: #ffffff1f;
        border-radius: 10px;
    }
    .dropdown:hover .dropbtn {
        /* margin: 0 5px; */
        background-color: #ffffff75;
        color: #131643;
        border-radius: 10px;
        transition: 1s;
    }
    .dropdown-content {
        margin-left: -9px;
        /* float: left; */
        display: none;
        border-radius: 4px;
        position: absolute;
        background-color: #f9f9f9;
        width: 150px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
    .navbar .menu{
        font-family: aria-tejarat;
        margin: 0 10px;
        font-weight: bolder;
        font-size: 16px; 
        border: none;
        outline: none;
        float: right;
        padding: 14px 16px;
        text-decoration: none;
        color: #131643;
        background-color: #ffffff1f;
        border-radius: 10px;
    }
    .navbar .menu:hover{
        transition: 1s;
        background-color: #ffffff75;
        border-radius: 10px;
    }
    .dropdown-content .row {}
    .dropdown:hover .dropdown-content {
        transition: 1s;
        display: block;
        width: 140px;
        background-color: #ffffff75;
    }
    .row ul{
    }
    .row ul li{
        float: right;
        margin: 8px;
    }
    .row ul li:hover{
    }
    .row ul li .dropdownMenu {
        font-family: aria-tejarat;
        text-decoration: none;
        font-size: 17px;
        color: rgb(66, 66, 66);
        display: block;
        text-align: right;
        margin: 5px 0;
    }
    .row ul li .dropdownMenu:hover {
        color: black;
        font-weight: bold;
    }
    .logo img{
        border-radius: 4px;
        padding: 7px;
        margin: -88px 0 0 20px;
        width: 80px;
        /* position: absolute; */
        background-color: #FFFFFF;
    }
  }
  @media only screen and (max-width: 425px) {
    nav{
        display: none;
        height: 45px;
    }
    .navbar{
        display: none;
        width:425px;
        height:40px;
        padding-top: 15px;
        margin: auto;
        border-bottom: #1316431e 1.5px solid;
        /* background-color: #131643; */
    }
    .mobile-container {
        max-width: 425px;
        margin: auto;
        height: 500px;
        color: white;
        border-radius: 10px;
    }
    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }
    .topnav #myLinks {
        display: none;
    }
    .topnav a img{
        width: 50px;
    }
    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
    .active {
        background-color: #e4e4e4;
        color: white;
    }
    .dropdown {
        display: none;
        float: right;
        overflow: hidden;
    }
    .dropdown .dropbtn {
        display: none;
        font-size: 15px; 
        font-weight: bolder !important; 
        border: none;
        outline: none;
        color:#131643;
        padding: 14px 16px;
        background-color: inherit;
        font: aria-tejarat;
        margin: 0 10px 5px 10px;
        background-color: #ffffff1f;
        border-radius: 10px;
    }
    .dropdown:hover .dropbtn {
        display: none;
        /* margin: 0 5px; */
        background-color: #ffffff75;
        color: #131643;
        border-radius: 10px;
        transition: 1s;
    }
    .dropdown-content {
        display: none;
        margin-left: -9px;
        /* float: left; */
        display: none;
        border-radius: 4px;
        position: absolute;
        background-color: #f9f9f9;
        width: 150px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
    .navbar .menu{
        display: none;
        font-family: aria-tejarat;
        margin: 0 10px;
        font-weight: bolder;
        font-size: 16px; 
        border: none;
        outline: none;
        float: right;
        padding: 14px 16px;
        text-decoration: none;
        color: #131643;
        background-color: #ffffff1f;
        border-radius: 10px;
    }
    .navbar .menu:hover{
        display: none;
        transition: 1s;
        background-color: #ffffff75;
        border-radius: 10px;
    }
    .dropdown-content .row {
        display: none;
    }
    .dropdown:hover .dropdown-content {
        display: none;
        transition: 1s;
        display: block;
        width: 140px;
        background-color: #ffffff75;
    }
    .row ul{
        display: none;
    }
    .row ul li{
        display: none;
        float: right;
        margin: 8px;
    }
    .row ul li:hover{
        display: none;
    }
    .row ul li .dropdownMenu {
        display: none;
        font-family: aria-tejarat;
        text-decoration: none;
        font-size: 17px;
        color: rgb(66, 66, 66);
        display: block;
        text-align: right;
        margin: 5px 0;
    }
    .row ul li .dropdownMenu:hover {
        display: none;
        color: black;
        font-weight: bold;
    }
    .logo img{
        display: none;
        border-radius: 4px;
        padding: 7px;
        margin: -88px 0 0 20px;
        width: 80px;
        /* position: absolute; */
        background-color: #FFFFFF;
    }
  }


