.containeroverview {
    height: 2050px;
    background-color: #131643;
    margin-top: 30px;
    border-radius: 0 80px 0 80px;
    margin-bottom: 30px;
}
.containeroverview .main{
    height: 500px;
    width: 1300px;
    margin: auto;
}
.containeroverview .main h1 {
    font-family: aria-tejarat;
    color: white;
    font-size: 35px;
    font-weight: bolder;
    text-align: right;
    padding: 40px 10px;
}
.containeroverview .main p{
    font-family: aria-tejarat;
    direction: rtl;
    color: white;
    font-size: 17px;
    text-align: right;
    padding: 10px 10px 0 20px;
    line-height: 2;
    text-align: justify;
}
.containeroverview .main ul{
    margin: 20px 0;
}
.containeroverview .main ul li{
    list-style-type: square;
    direction: rtl;
    margin-right: 30px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
@media only screen and (max-width: 1024px) {
    .containeroverview {
        width: 1024px;
        height: 2150px;
        background-color: #131643;
        margin-top: 30px;
        border-radius: 0 80px 0 80px;
        margin-bottom: 30px;
    }
    .containeroverview .main{
        background-color: #131643;
        height: 500px;
        width: 1024px;
        margin: auto;
    }
    .containeroverview .main h1 {
        color: white;
        font-size: 35px;
        font-weight: bolder;
        text-align: right;
        padding: 40px 20px;
    }
    .containeroverview .main p{
        direction: rtl;
        color: white;
        font-size: 17px;
        text-align: right;
        padding: 10px 10px 0 20px;
        line-height: 2;
        text-align: justify;
    }
    .containeroverview .main ul{
        margin: 20px 0;
    }
    .containeroverview .main ul li{
        list-style-type: square;
        direction: rtl;
        margin-right: 30px;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
    }
  }
  @media only screen and (max-width: 768px) {
    .containeroverview {
        width: 768px;
        height: 2300px;
        background-color: #131643;
        margin-top: 30px;
        border-radius: 0 80px 0 80px;
        margin-bottom: 30px;
    }
    .containeroverview .main{
        background-color: #131643;
        height: 500px;
        width: 768px;
        margin: auto;
    }
    .containeroverview .main h1 {
        color: white;
        font-size: 35px;
        font-weight: bolder;
        text-align: right;
        padding: 40px 20px;
    }
    .containeroverview .main p{
        direction: rtl;
        color: white;
        font-size: 17px;
        text-align: right;
        padding: 10px 10px 0 20px;
        line-height: 2;
        text-align: justify;
    }
    .containeroverview .main ul{
        margin: 20px 0;
    }
    .containeroverview .main ul li{
        list-style-type: square;
        direction: rtl;
        margin-right: 30px;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
    }
  }
  @media only screen and (max-width: 425px) {
    .containeroverview {
        width: 425px;
        height: 2950px;
        background-color: #131643;
        margin-top: 30px;
        border-radius: 0 80px 0 80px;
        margin-bottom: 30px;
    }
    .containeroverview .main{
        background-color: #131643;
        height: 500px;
        width: 425px;
        margin: auto;
    }
    .containeroverview .main h1 {
        color: white;
        font-size: 35px;
        font-weight: bolder;
        text-align: right;
        padding: 40px 20px;
    }
    .containeroverview .main p{
        direction: rtl;
        color: white;
        font-size: 17px;
        text-align: right;
        padding: 10px 10px 0 20px;
        line-height: 2;
        text-align: justify;
    }
    .containeroverview .main ul{
        margin: 20px 0;
    }
    .containeroverview .main ul li{
        list-style-type: square;
        direction: rtl;
        margin-right: 30px;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
    }
  }