.containerProductUnit{
    width: 1300px;
    height: 280px;
    padding: 100px 0;
    margin: auto;
}
.containerProductUnit img{
    width: 1300px;
    height: 280px;
    margin: auto;
}

@media only screen and (max-width: 1024px) {
    .containerProductUnit{
        width: 1024px;
        margin: auto;
    }
    .containerProductUnit img{
        width: 1024px;
        height: 280px;
        margin: auto;
    }
  }
  
@media only screen and (max-width: 768px) {
    .containerProductUnit{
        width: 768px;
        margin: auto;
    }
    .containerProductUnit img{
        width: 768px;
        height: 280px;
        margin: auto;
    }
  }
@media only screen and (max-width: 425px) {
    .containerProductUnit{
        width: 425px;
        margin: auto;
    }
    .containerProductUnit img{
        width: 425px;
        height: 280px;
        margin: auto;
    }
  }