doctype html
html(lang="en")
   head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/mainlayout.css")
        link(rel="stylesheet", href="css/home.css")
        link(rel="stylesheet", href="css/reset.css")
        title آریا تجارت مشیز ارس
   block style
        
   body
        nav
            .navbar 
               a.menu(href="#") صفحه اصلی
               .dropdown
                  button.dropbtn معرفی شرکت
                  .dropdown-content
                     .row
                        ul
                           li 
                              a.menu(href="#") درباره ما
                           li 
                              a.menu(href="#") تارخیچه شرکت
                           li 
                              a.menu(href="#") چشم انداز
                           li 
                              a.menu(href="#") بازاریابی
                           li 
                              a.menu(href="#") توزیع مویرگی
                           li 
                              a.menu(href="#") فروشگاه اینترنتی
                           li 
                              a.menu(href="#") فرصت های شغلی
               .dropdown
                  button.dropbtn محصولات
                  .dropdown-content
                     .row 
                        ul 
                           li 
                              a.menu(href="#") واحد بازرگانی
                           li 
                              a.menu(href="#") واحد تولیدی
               a.menu(href="#") وبلاگ
               a.menu(href="#") ارتباط با ما
               .clearfix 
               a.logo(href="#")
                  img(src="img/logo.png", alt="Logo")
            .clearfix
   block header
   footer 
      .footer 
         ul.listFooter 
            li.itemsFooter 
               h3 ارتباط با دفتر مرکزی
               p تهران سعادت آباد بلوار دریا مطهری شمالی کوچه عیسی پورپلاک ۶ واحد ۲
            li.itemsFooter 
               h3 تلفن های تماس
               p تلفن: ۰۲۱ ۸۸۵۶۷۱۶۳
               p فکس: ۸۶۱۲۹۷۴۳
            li.itemsFooter 
               h3 ساعات کاری
               p شنبه - چهارشنبه: ۸:۳۰ صبح تا ۵ عصر
               p پنجشنبه: ۸:۰۰ صبح تا ۱۲:۳۰ عصر
            li.itemsFooter نماد
            .licence
               p تمامی حقوق این وبسایت متعلق به آریاتجارت مشیز ارس میباشد
   block footer 
               